<section class="legal-container" id="help">
    <div>
        <div class="legal-exit"><img src="./img/icons/arrow-left.png" onclick="toggleHelp('legal-template')"></div>
        <div class="legal-headers">
            <h1 class="fm-OpenSA-700">Help</h1>
            <div>
                <h2 class="fm-OpenSA-700">What is Join ? </h2>
                <span>Join is a Project Management tool to create tasks, assign colleagues and have them be visible for all Members of your Team!</span>
            </div>
            <div>
                <h2 class="fm-OpenSA-700">How to use it?</h2>
                <div class="d-flex flex-col help-to-do">
                    <div class="d-flex align-center">
                        <span class="help-list fm-OpenSA-700">1.</span>
                        <span>Firstly you must sign in and create an account to create tasks. Alternatively you may use the guest account.</span>
                    </div>
                    <div class="d-flex align-center">
                        <span class="help-list fm-OpenSA-700">2.</span>
                        <span>Create tasks and edit them, when a task reaches the next step to completion move the task cards to the adjacent slot to signal your team progress!</span>
                    </div>
                    <div class="d-flex align-center">
                        <span class="help-list fm-OpenSA-700">3.</span>
                        <span>Manage and overlook your assigned tasks and stay updated!</span>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>