<section class="legal-container" id="legal">
    <div>
        <div class="legal-exit"><img src="./img/icons/arrow-left.png" onclick="toggleLegal('help-template')"></div>
        <div class="legal-headers">
            <h1 class="fm-OpenSA-700">Legal Notice</h1>
            <div>
                <h2 class="fm-OpenSA-700">Policy</h2>
                <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, error? Veniam totam earum repellat ducimus sunt. Nostrum, facilis ratione. Hic maxime officia nam ab perferendis, inventore enim magnam alias voluptatem!</span>
            </div>
            <div>
                <h2 class="fm-OpenSA-700">Consent</h2>
                <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, error? Veniam totam earum repellat ducimus sunt. Nostrum, facilis ratione. Hic maxime officia nam ab perferendis, inventore enim magnam alias voluptatem!</span>
            </div>
        </div> 
    </div>
</section>