<aside>
    <nav class="desktop-nav">
        <ul>
            <li onclick="window.location.href='./summary.html'" id="summary-html" class=""><a class="d-flex" href="./summary.html">
                    <div><img src="./img/icons/nav-summary.png" alt=""></div>Summary
                </a></li>
            <li onclick="window.location.href='./board.html'"" id="board-html"><a class="d-flex" href="./board.html">
                    <div><img src="./img/icons/nav-board.png" alt=""></div>Board
                </a></li>
            <li onclick="window.location.href='./add_task.html'" id="add-task-html"><a class="d-flex" href="./add_task.html">
                    <div><img src="./img/icons/nav-AddTask.png" alt=""></div>Add Task
                </a></li>
            <li onclick="window.location.href='./contacts.html'" id="contacts-html"><a class="d-flex" href="./contacts.html">
                    <div><img id="nav-contact-img" src="./img/icons/nav-Contacts.png" alt=""></div>Contacts
                </a></li>

            <div class="legal-notice d-flex">
                <div class="d-flex align-center just-center" onclick="toggleLegal('help-template')" id="legal">
                    <img src="./img/icons/info-icon.png" id="legal-img">
                    <span class="fm-OpenSA-400" id="legal-span">Legal notice</span>
                </div>
            </div>
        </ul>

    </nav>
</aside>


<section id="mobile-nav">
    <nav>
        <div>
            <a class="d-flex" href="./summary.html" id="mob-summary-html">
                <div><img src="./img/icons/nav-summary.png" alt=""></div>Summary
            </a>
        </div>
        <div>
            <a class="d-flex" href="./board.html" id="mob-board-html">
                <div><img src="./img/icons/nav-board.png" alt=""></div>Board
            </a>
        </div>
        <div>
            <a class="d-flex" href="./add_task.html" id="mob-add-task-html">
                <div><img src="./img/icons/nav-AddTask.png" alt=""></div>Add Task
            </a>
        </div>
        <div>
            <a class="d-flex" href="./contacts.html" id="mob-contacts-html">
                <div><img id="nav-contact-img" src="./img/icons/nav-Contacts.png" alt=""></div>Contacts
            </a>
        </div>

    </nav>
</section>